<h1><%= @user.name %></h1>
<div class="container">
    <p>You own <%= @user.cars.count %> cars.</p>
    <% if @user.cars.count >= 1  %>
    <p><%= link_to 'Add another car', '/cars/new' %></p>
    <p><%= link_to 'View Garage', '/cars' %></p>

    <%= render 'users/controls' %>
    <% else %>
      <p><%= link_to 'Add a car', '/cars/new' %>
    <% end %>
</div>
