<h1>Your garage</h1>
<p class='small'>You own <%= @cars.count %> cars.</p>
<div class="row">
<div class="span3">
  <%= render "users/sidebar" %>
</div>
<div class="span9">
  <table class="table table-bordered">
    <tr>
      <th>name</th>
      <th>year</th>
      <th>months owned</th>
      <th>purchased</th>
    </tr>
  
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.name %></td>
      <td><%= car.year %></td>
      <td><%= car.months_owned %></td>
      <td><%= car.price %></td>
  <td>
  <div class="pull-right">
  <%= link_to 'Show', user_car_path(@user, car.id), :class => 'btn btn-class btn-warning btn-mini' %>
  <%= link_to 'Edit', edit_user_car_path(@user, car), :class => 'btn btn-class btn-info btn-mini' %>
  <%= link_to 'Destroy', [@user, car], method: :delete, :class => 'btn btn-class btn-danger btn-mini',data: { confirm: 'Are you sure?' } %>
  </p>
  </td>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Car', new_user_car_path(@user), :class => 'btn btn-class btn-success' %>
</div>
</div>
